

<div style="width: 1575px;height:7rem;margin:auto;box-shadow: 1px 1px 1px 1.5px grey;margin-top: -6.5rem;margin-left: 80px;">
<p-card [style]="{'width': '1575px','height':'7rem','margin-top':'-2rem','margin':'auto'}">
    <ul>
        <li style="float: left;">
            <img src="/assets/ic_add to ccp.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;  
        </li>

    <li style="font-size: 13px;">
        Adding to cross cutting perspective&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/ic_insert@2x.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li style="font-size: 13px;">
        Add to document&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/noun_references_986499.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li style="font-size: 13px;font-family: Open Sans;mix-blend-mode: normal;
    opacity: 0.3; margin-right: 420px;">
        Toggle reference mode&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li style="float:right;margin-top:-0rem;" >
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input style="width: 372px;height: 34px;" type="text" placeholder="Filter..." pInputText />
        </span>
           
    </li>  
        <!-- <div class="col-xs-2 v-divider"  style="margin-left:-1rem"></div>
        <div class="col-xs-3 v-divider" style="margin-left:20rem"></div>
         -->
</ul>
</p-card>





<p-splitter [style]="{  'height': '617px','width': '1575px','margin':'auto','box-shadow': '1px 1px 1px 1.5px grey'}" [panelSizes]="[25,75]" [minSizes]="[10,0]" styleClass="p-mb-5">
    <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">

            <p-card  [style]="{'height': '5rem','margin-left':'0rem','margin-top':'-0rem','margin':'auto','width':'31.5rem'}">
                <p style="font-size: 13px;">
                    <img src="/assets/arrow.png" alt="image" width="18" height="15">&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>OUTLINE</b>
                </p>
                
            </p-card>


            
<!-- working--------------------
     <p-accordion>
    <p-accordionTab  [style]="{ width: '30rem', 'background-color': 'white' ,'font-size':'13px'}" header="1. Requirements Section" [selected]="false">
        <div class="scrollmenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </p-accordionTab>
    </p-accordion>
    <p-accordion>
        <p-accordionTab  [style]="{ width: '30rem', 'background-color': 'white' ,'font-size':'13px'}" header="2. Audits Section" [selected]="false">
            <div class="scrollmenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </p-accordionTab>
        </p-accordion>
        <p-accordion>
            <p-accordionTab  [style]="{ width: '30rem', 'background-color': 'white' ,'font-size':'13px'}" header="3. Requirements" [selected]="false">
                <div class="scrollmenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </p-accordionTab>
            </p-accordion>
            -->
            <p-tree layout="vertical" [value]="nodes">
                <ng-template let-node pTemplate="url">
                    <a [href]="node.data">{{node.label}}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{node.label}}</b>
                </ng-template>
            </p-tree>
            
            <!-- <p-tree [style]="{ width: '30rem', height: '500px' }" [value]="files1"></p-tree>
            <p-tree [value]="files2"></p-tree> -->

       

    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->

    <!-- <p-fieldset
    [style]="{ width: '30rem', 'background-color': 'none' ,'font-size':'5px'}"
    legend="1. Requirements Section"
    [toggleable]="true"
  >
    <div class="scrollmenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</p-fieldset>
   -->

            



                <!-- <div class="p-col-12 p-md-4">
                    <p-scrollPanel styleClass="custombar2">
                      <div >


                            

        <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)" styleClass="p-button-text" label="Toggle 1st"></p-button>

<p-accordion>
    <p-accordionTab header="Requirement Section" style="background-color: white;" [(selected)]="activeState[0]">
        <p style="font-size: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
</p-accordion>






                            


                      </div>
                    </p-scrollPanel>
                  </div> -->


        </div>
    </ng-template>
    
            
            <ng-template pTemplate>
                <p-splitter [panelSizes]="[25,75]">

                    <ng-template pTemplate>
                        <div class="p-col p-d-flex p-ai-center p-jc-center">
                             
                          

                            

                            
                            
                                <!--<ul style="background-color:#E1E6E1">
                                    <li style="float: left;">
                                    <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
                                    </li>
                                    <li style="font-size: 13px; margin-right: 20rem;">
                                        SECTION 
                                    </li>
                                    <li>
                                        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;
                                    </li>
                                    
                                    <li style="font-size: 13px;margin-right: 25rem;">
                                        CATEGORY 
                                    </li>
                                    <li>
                                        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;
                                    </li>
                                    <li style="font-size: 13px; margin-right: 25rem;">
                                        SUMMARY 
                                    </li>
                                    
                                    <li style="font-size: 13px; ">
                                        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;
                                       REFERENCE MODE
                                    </li>
                                   


                                    
                                     
                                    
                                </ul>

                                
                            </p-card>
                             -->
                             

                           <table style="overflow:auto;height: 617px;margin-left:0rem;margin-top:-0rem;margin-right:-1rem;margin:auto;width:125rem;"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th  class="th1" mat-header-cell *matHeaderCellDef> 
    <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;SECTION  </th>
    <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element">
        <input type="checkbox"> &nbsp;
        {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th class="th1" mat-header-cell *matHeaderCellDef><img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;CATEGORY  </th>
   <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th  class="th1" mat-header-cell *matHeaderCellDef> <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp; SUMMARY </th>
  <td style="height: 25px;width: 20px;margin-right: 100px;" mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th class="th2" mat-header-cell *matHeaderCellDef> <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;
        REFERENCE MODE </th>
 <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element"> &nbsp;&nbsp;&nbsp;&nbsp;{{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>








                        </div>
                    </ng-template>
                </p-splitter>
            
    </ng-template>
</p-splitter>  
</div>