

<div style="width: 1575px;height:7rem;margin:auto;box-shadow: 1px 1px 1px 1.5px grey;margin-top: -6.5rem;margin-left: 80px;">
<p-card [style]="{'width': '1575px','height':'7rem','margin-top':'-2rem','margin':'auto'}">
    <ul>
        <li style="float: left;">
            <img src="/assets/ic_add to ccp.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;  
        </li>

    <li style="font-size: 13px;">
        Adding to cross cutting perspective&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/ic_insert@2x.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li style="font-size: 13px;">
        Add to document&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li>
        <img src="/assets/noun_references_986499.png" alt="image" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li style="font-size: 13px;font-family: Open Sans;mix-blend-mode: normal;
    opacity: 0.3; margin-right: 420px;">
        Toggle reference mode&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li style="float:right;margin-top:-0rem;" >
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input style="width: 372px;height: 34px;" type="text" placeholder="Filter..." pInputText />
        </span>
           
    </li>  
       
</ul>
</p-card>





<p-splitter [style]="{  'height': '617px','width': '1575px','margin':'auto','box-shadow': '1px 1px 1px 1.5px grey'}" [panelSizes]="[25,75]" [minSizes]="[10,0]" styleClass="p-mb-5">
    <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">

            <p-card  [style]="{'height': '5rem','margin-left':'0rem','margin-top':'-0rem','margin':'auto','width':'31.5rem'}">
                <p style="font-size: 13px;">
                    <img src="/assets/arrow.png" alt="image" width="18" height="15">&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>OUTLINE</b>
                </p>
                
            </p-card>


            

            <p-tree layout="vertical"  [value]="nodes">
                <ng-template let-node pTemplate="default">
                    <span class="tree"> {{node.label}}</span> 
                </ng-template>
                <!-- <ng-template let-node pTemplate="default">
                    <b>{{node.label}}</b>
                </ng-template> -->
            </p-tree>
            
           
        </div>
    </ng-template>
    
            
            <ng-template pTemplate>
                <p-splitter [panelSizes]="[25,75]">

                    <ng-template pTemplate>
                        <div class="p-col p-d-flex p-ai-center p-jc-center">
                             
                          

                            

                            
                            
                                


                                    
                                     
                                    
                            
                             
                             

                           <table style="overflow:auto;height: 617px;margin-left:0rem;margin-top:-0rem;margin-right:-1rem;margin:auto;width:125rem;"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th  class="th1" mat-header-cell *matHeaderCellDef> 
    <input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;SECTION  </th>
    <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element">
        <input type="checkbox"> &nbsp;
        {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th class="th1" mat-header-cell *matHeaderCellDef><img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;CATEGORY  </th>
   <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th  class="th1" mat-header-cell *matHeaderCellDef> <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp; SUMMARY </th>
  <td style="height: 25px;width: 20px;margin-right: 100px;" mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th class="th2" mat-header-cell *matHeaderCellDef> <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;
        REFERENCE MODE </th>
 <td style="height: 25px;width: 20px;" mat-cell *matCellDef="let element"> &nbsp;&nbsp;&nbsp;&nbsp;{{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>








                        </div>
                    </ng-template>
                </p-splitter>
            
    </ng-template>
</p-splitter>  
</div>