

 <p-card [style]="{'width': '100', 'margin-bottom': '2rem','height':'150px','margin':'auto','margin-top':'0rem','margin-left':'6rem'}">
    <ul>
       
        <li style=" font-size:20px; position:initial;">&nbsp;&nbsp;&nbsp;100008
            <img style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);" src=" /assets/ic_blue info.png" alt="image" width="14" height="19">&nbsp;&nbsp;&nbsp;
        </li>
      <li>
        <img src="/assets/Background Copy 3.png" alt="image" width="1.5" height="15">&nbsp;&nbsp;&nbsp;&nbsp;   
</li>
        <li><button type="button" class="btn btn-default btn-sm" style="background-color: #EFF0F0;  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);">
          Requirement Specification Document <span class="glyphicon glyphicon-info-sign"></span> 
       </button>
       </li>
       <li style="margin-left: -365px;">
        <br><br>This is the summary of this d, Lorem ipsum dolor sit amet, consectetur adipis…
       </li>
       <br>
       <li style="float: right; margin: 10px; font-size: 17px; "> 
         <span class="glyphicon glyphicon-option-vertical"></span>
       </li>
      
       <li style="float:right">
         <!-- <button class="button">Edit</button>  -->
         <button class="button" pButton  type="button" >Edit</button>
           </li>
      </ul>

 </p-card>
 


