
  <p-card  [style]="{  'width': '100','height': '60px', 'margin-bottom': '2rem','margin':'auto','margin-top':'0rem','margin-left':'6rem'}">
      <ul> <li style="color: green; font-size:20px; margin-top: -1rem;"><br>&nbsp;&nbsp;&nbsp;windchill<sup>&reg;</sup></li>
        <li style="font-size: 20px;margin-top: -1rem;"><br>&nbsp;rv&s 13</li>
    
        <li style="float:right ;margin-top: -1rem;"><br>
            <i class="glyphicon glyphicon-log-out">&nbsp;</i> 
          </li>
          &nbsp;&nbsp;&nbsp;
       <li style="float:right; margin-top: -1rem; "><br>
        <i class="glyphicon glyphicon-search "  >&nbsp;</i> 
          </li>
          
      </ul>

        


  </p-card>